<article class="experience-container">
  <h2 class="experience-company-name">{{ company }}</h2>
  {% for position in positions %}
    <h3 class="experience-company-title">{{ position.data.title }}</h3>
    <p class="experience-company-metadata">{{ position.data.from }} &mdash;
      {% if position.data.until %}
        {{ position.data.until }}
      {% else %}
        Present
      {% endif %}
      &centerdot; {{ position.data.location }}</p>
    <div class="experience-content">{{ position.templateContent | safe }}</div>
  {% endfor %}
</article>