<footer>
  <p>
    <span>&copy; {{ build.year }} Mikael K&ouml;hlmyr</span>
    <span>
      <a href="https://www.linkedin.com/in/mikael-kohlmyr">LinkedIn</a>
      &centerdot;
      <a href="https://github.com/mkohlmyr">GitHub</a>
    </span>
  </p>
</footer>