<header>
  <nav>
    <p class="site-name">mikael k&ouml;hlmyr</p>
    <ul>
      <li><a href="/">home</a></li>
      <li><a href="/curriculum-vitae/">curriculum vitae</a></li>
    </ul>
  </nav>
</header>