<header>
  <nav>
    <a class="site-name" href="/">mikael k&ouml;hlmyr</a>
    <ul>
      <li><a href="/">home</a></li>
      <li><a href="/curriculum-vitae/">curriculum vitae</a></li>
    </ul>
  </nav>
</header>