.page-section { padding-top:    24px;
                padding-bottom: 24px; }


.container { position: relative;
             overflow: auto; }


.full-width { max-width: 768px;
              margin:    0px auto; }


.padded { padding: 10px; }
.column { float: left; }


.left-align  { text-align: left;  }
.right-align { text-align: right; }
.uppercase   { text-transform: uppercase; }


@media (min-width: 320px) {
    .mobile-whole { width: 100%; }
    .mobile-half  { width: 50%; }
}

@media (min-width: 640px) {
    .tablet-whole { width: 100%; }
    .tablet-half  { width: 50%; }
}

@media (min-width: 940px) {
    .display-whole { width: 100%; }
    .display-half  { width: 50%; }
}
