<div class="site-header">
    <div class="wrapper">
        <p class="page-header">
            <span class="author-name">Mikael K&oumlhlmyr</span>, BSc Computer Science from the <a href="http://southampton.ac.uk/" class="university-name">University of Southampton</a>. Software developer at <a href="http://triggeredmessaging.com/" class="company-name">Triggered Messaging</a>.
        </p>
        {% for page in site.pages %}
            {% if page.title %}
                <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            {% endif %}
        {% endfor %}
    </div>
</div>
