.site-header {
    min-height: 56px;

    .page-header {
        color: $color-blue;

        font-family: $header-font-family;
        font-size:   1.5em;
        a.university-name {
            color: $color-green;
            &:hover {
                color: $color-black;
            }
        }
        a.company-name {
            color: $color-pink;
            &:hover {
                color: $color-black
            }
        }
    }
}

.page-content {
    padding: $spacing-unit 0;

    .post-list {
        margin-left: 0px;
        list-style: none;
        > li {
            margin-bottom: $spacing-unit;

            h2.post-title {
                margin-bottom: 0px;

                a.post-link {
                    font-size: 38px;
                    line-height: 1.3em;
                    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
                    font-weight: bold;
                    display: inline;
                    color: $color-medium-grey;
                    word-wrap: break-word;
                    &:hover {
                        color: $color-black;
                    }
                }
            }

            .post-meta {
                font-size: $tiny-font-size;
            }
        }
    }
}

.col-wrapper {
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}
%col-element {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.site-footer {
    //border-top: 1px solid $color-light-grey;
    padding: $spacing-unit 0;
    background-color: inherit;

    .footer-cols.col-wrapper {
        font-size: 15px;

        .content-col-half {
            .contact-list, .social-media-list {
                margin-left: 0px;
                color: $color-dark-green;
            }

            .social-media-list {
                text-align: right;
            }
        }
    }

}

.content-col-half {
    @extend %col-element;
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
}

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 26px;
    }

    h4 {
        font-size: 20px;
    }
}
