---
layout: main
---

<article>
  <div class="article-hero">
    <img src="/assets/images/cover/{{ cover }}" alt="{{ title }}" />
    <div class="article-hero-overlay">
      <h1>{{ title }}</h1>
      <time datetime="{{ date }}">{{ date | formatDate }}</time>
    </div>
  </div>
  <div>{{ content | safe }}</div>
</article>