---
layout: main
---

{% set seriesArticles = collections.articles | bySeries(series) %}
<article>
  <header class="article-header">
    <h1>{{ title }}</h1>
    <time datetime="{{ date }}">{{ date | formatDate }}</time>
  </header>
  <div class="article-body">
    {% if seriesArticles.length %}
      <div class="article-series">
        <p class="article-series-label">More in this series</p>
        <ol>
          {% for seriesArticle in seriesArticles %}
            <li><a href="{{ seriesArticle.url }}">{{ seriesArticle.data.title }}</a></li>
          {% endfor %}
        </ol>
      </div>
    {% endif %}
    {{ content | safe }}
  </div>
</article>