---
layout: main
---

<article>
  <img src="/assets/images/cover/{{ cover }}" alt="{{ title }}" />
  <h1>{{ title }}</h1>
  <time datetime="{{ date }}">{{ date | formatDate }}</time>
  <div>{{ content | safe }}</div>
</article>