@charset "UTF-8";

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
  min-height: 100vh;
  min-width: 360px;
  scrollbar-gutter: stable;
}

body {
  min-height: 100vh;
  font-size: 1rem;
  font-weight: 300;
  font-family: Arial, sans-serif;
  line-height: 1.5rem;
}


img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.275rem;
}

b {
  font-weight: 600;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

body {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr minmax(0, min(1030px, 100%)) 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    ". header ."
    ". main ."
    ". footer .";
}

body > header {
  grid-area: header;
  padding: 2rem 1.5rem 1rem 1.5rem;
}

body > header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

body > header > nav > ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

nav h1 {
  font-size: 1rem;
  font-weight: 600;
  color: #00aa83;
}

nav a {
  color: gray;
}

nav a:hover {
  color: black;
}

body > main {
  grid-area: main;
  padding: 1rem 1.5rem;
}

body > footer {
  grid-area: footer;
  padding: 1rem 1.5rem 2rem 1.5rem;
  font-size: 0.875rem;
  color: gray;
  border-top: 1px solid #e0e0e0;
}

body > footer p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body > footer a {
  color: gray;
}

body > footer a:hover {
  color: black;
}

/* Card grid layout */
.article-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.article-card {
  overflow: hidden;
}

.article-card-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.article-card-image-container {
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 0.5rem;
}

.article-card-link img {
  width: 100%;
  display: block;
  transition: transform 0.5s ease;
}

.article-card:hover .article-card-link img {
  transform: scale(1.050);
}

.article-card-title {
  display: block;
  font-size: 1.275rem;
  margin-bottom: 0.5rem;
}

.article-card-link time {
  display: block;
  font-size: 0.875rem;
  color: gray;
}

@media (min-width: 696px) {
  .article-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1030px) {
  .article-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Article page styling */
article > img {
  border-radius: 0.5rem;
  width: 100%;
  margin-bottom: 1.5rem;
}