---
layout: null
permalink: /curriculum-vitae/
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Curriculum Vitae - Mikael Köhlmyr</title>
    <meta http-equiv="refresh" content="0; url={{ cv.url }}">
    <link rel="canonical" href="{{ cv.url }}">
  </head>
  <body></body>
</html>